@media (min-width: 1600px) {
	header {
    max-width: 1600px;
    margin: 0 auto;
  }

  main {
    max-width: 1600px;
    margin: 0 auto;
  }

  .presentation-side {
    position: relative;
    width: 55%;
  }
}

@media (min-width: 900px) and (max-width: 1600px) {
  .room-background {
    width: 55vw;
  }
}
